 
h1 {
font-size: 22px; 
color: #ffff00; 
text-align: center;}
 
h2 {
font-size:20px;  
color: #ffffff; 
text-align: center;}
 
h3 {
font-size:  18px;  
color: green; 
text-align: justify;}
 
h4 {
font-size: 22px; 
color: #ff0000; 
text-align: center;}
 
h5 {
font-size: 20px; 
color: #00ffff; 
text-align: center;}
 
#cabecalho {
height: 110px;
width:900px;
border: 8px groove #ff0000;
background: #ebe9ba;
position:absolute;
color: #006c00;
font-size: 15pt;
text-align: center;
}
 
#menuesquerdo {
height:380px;
width: 100px;
background: #089443;
color: #00ff00;
font-size: 12pt;
text-align: left;
position:absolute;
top:130px;

}
 
#menudireito{
position: absolute;
top:130px;
left: 823px;
height:380px;
width: 100px;
background: #089443;
color: #00ff00;
font-size: 10px;
text-align: left;
}
 
#principal {
height: 380px;
width: 500px;
background: #006cba;
font-size: 40px; 
text-align: justify; 
color: #ffffff;
padding: 2px;
position:absolute;
left:110px;
top:130px;
}
 
#areadireita{
position: absolute;
top: 115px;
left: 615px;
height: 380px;
width: 203px;
background: #ffd6be;
font-size: 10px; 
text-align: justify; 
color: #ffffff;
padding: 2px;
margin-top:20px;
margin-right: 1px;
margin-bottom: 1px;
margin-left: 1px;}
 
#rodape {
height: 110px;
width:900px;
border: 8px groove #0000ff;
background: #800000;
color: #00ffff;
font-size: 15px;
text-align: center;
position:absolute;
top:500px;

}
 

ul{
/*largura do box*/
width: 90px;
list-style-type: none;
margin-left:-40px;
margin-top:5px;
}
 
/*aparência dos links*/
 .link {
/*largura do box*/
width: 90px;
/*enchimento*/
padding: 2px;
/*bordas*/
border: 1px none #0000ff;
/*margens*/
margin: 2px;
/*cor de fundo*/
background: #fef2cd;
font-size:22px;
}
 

.link:hover{/* estado dos links no passar do mouse */
      border: 5px solid yellow;
      background-color: #ff6347;
}	 

.link:active { /* quando clicar  */
      border: 5px solid yellow;
      background-color: #ff0000;
}